/* work sans google fonts added */
/* shared styles */

.btn-primary {
  border-radius: 8px;
  background: #ff900e;
  color: #fff;
  font-size: 1.25rem;
  font-weight: 600;
  padding: 15px 25px;
  margin-bottom: 20px;
  border: none;
  cursor: pointer;
}

.text-light-gray{
  color: #727272;
}

body {
  font-family: "Lato", sans-serif;
  font-family: "Open Sans", sans-serif;
  font-family: "Ubuntu", sans-serif;
  font-family: "Work Sans", sans-serif;
}

/* header styles */
header {
  background: rgba(255, 144, 14, 0.1);
  padding: 50px 240px;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-title {
  font-size: 2.8rem;
  font-weight: 700;
  color: #131313;
}

nav > ul {
  display: flex;
}

nav li {
  list-style: none;
  margin-right: 30px;
  font-size: 1rem;
  font-weight: 500;
}

nav li a {
  text-decoration: none;
  color: #424242;
}

/* banner styles */

.banner-content {
  max-width: 500px;
  text-align: center;
  margin: 0 auto;
}

.banner-title {
  font-size: 3.6rem;
  font-weight: 700;
  color: #131313;
}


.banner img {
  width: 100%;
  margin-top: 20px;
}



/* main styles */
main {
  max-width: 1440px;
  margin: 0 auto;
}

/* team styles */

.teams-container {
  display: flex;
  align-items: center;
  margin-top: 20px;
}

.teams-image-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.5rem;
}

.teams-content{
  padding-left: 70px;
  padding-right: 70px;
}


.teams-title {
  font-size: 2.8rem;
  font-size: 45px;
  font-weight: 500;
}

.first-title {
  color: #727272;
}

.second-title {
  color: #131313;
}

.text-features {
  color: #ff900e;
}

/* Responsive media queries */

/* small mobile devices */

@media screen and(max-width: 576px) {
  nav,.teams-container {
    flex-direction: column;
  }

  .teams-image-container{
    grid-template-columns: 1fr;
  }

  .teams-content{
    padding-left: 20px;
    padding-right: 20px;
  }

  header {
    padding: 20px;
  }
}

/* medium mobile devices and tablets */

@media screen and(min-width: 576px) and(max-width: 960px) {
  nav, .teams-container{
    flex-direction: column;
  }

  .teams-image-container{
    grid-template-columns: 1fr;
  }

  header {
    padding: 50px;
  }
}
